:root{
    --bg: #040404;
    --invbg:#fefefe;

    --lav:#D1CCDC;
    --dBlue:#343B59;
    --lBlue:#2DC7FF;
    --khaki:#C6AD94;
    --green:#2CA6A4;

    --brown:#776D5A;
    --grey:#5AB1BB;

    --fs:1.5em;
    --plat:#D3D4D9;
    --red:#E54B4B;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

html{
    background-color: var(--dBlue)!important;
}

body{
    opacity: 0;
    animation: fadeIn 2s forwards;

}
/* Scrollbar Track */
::-webkit-scrollbar-track {
    background-color:var(--dBlue) !important;
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
    background-color: #71768B;
    border-radius: 5px;
}

/* Scrollbar Thumb Hover */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--khaki);
    cursor: pointer;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
}

.topnavContainer{
    position: fixed;
    top: 0.5em;
    left: 1em;
    cursor: pointer;
    z-index: 2;
    background-color: var(--bg);
    padding: 0.2em 1em;
    border-radius: 0.2em;
    box-shadow: 0 0 3px 0 var(--invbg);
    transition: 0.3s all;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 3;
}

.topnavContainer:hover{
    box-shadow: 0 0 0.5em 0.2em var(--bg);
    background-color: var(--lBlue);
}

#burger{
    margin-right: 10px;
}

.logo{
    box-sizing: border-box;
    color: var(--invbg);
    font-size: var(--fs);
    line-height: 1.5em;
    font-size: 2.2em;
}


.logo img{
    width: 0.5em;
    height: 0.5em;
}

header {
    position: relative;
    width: 100%;
    height: calc(100% - 15px);
    overflow: hidden;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* width: 1005px;
    left: calc(100% - 1005px); */
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-size: cover;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(132, 181, 255, 0.2); */
    background: rgba(159, 190, 236, 0.2);
    /* background: rgba(4, 4, 4, 0.2); */
    z-index: 1;
}

.expandedNav {
    width: 80%;
    max-width: 240px;
    position: fixed;
    background-color: var(--dBlue);
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition: ease-in-out 0.5s
}

.expandedNav.expanded {
    opacity: 1;
    visibility: visible;
}


#closeExpandedNavSvg{
    position: absolute;
    top: 0.5em;
    left: 33px;
    fill: var(--red);
    width: 35px;
    height: 35px;
    padding: 0.3em;
    border-radius: 0.2em;
    cursor: pointer;
    /* background-color: var(--invbg);  */
    /* box-shadow: 0 0 0.2em 0.05em var(--invbg); */
    transition: 0.5s all;
}

#closeExpandedNavSvg:hover{
    fill: var(--red);
    rotate: 90deg;
}


.expandedNav.inner{
    width: 100%;
    height: 100vh;
    position: relative;
}

.expandedNav a{
    color: var(--invbg);
    font-size: var(--fs);
    display: flex;
    align-items: center;
}

.expandedNav a:hover{
    color: var(--lBlue);
    cursor: pointer;
}

.expandedNav a.active{
    color: var(--lBlue);
}

.expandedNav svg{
    width: 1.2em;
    height: var(--fs);
    margin-right: 0.5em;
}

.expandedNav a:hover svg{
    transform: rotate('90deg') !important;
}

.expandedNav li{
    padding-bottom: 0.7em;
    list-style: none;
}



.header-content {
    position: absolute;
    z-index: 2;
    text-align: center;
    color: var(--invbg);
    /* margin-top: 20%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header-content h1 {
    font-size: 3.5em;
    margin-bottom: 20px !important;
    margin-top: 0px;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s;
    color: var(--khaki);
    
}

.header-content p {
    font-size: 1.8em;
    margin-bottom: 0px !important;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 1.5s;
    margin-top: 0px !important;
}

.header-content .contactMe{
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 2s;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
    margin: 30px auto 0 auto;
    cursor: pointer;
}

.header-content .contactMe svg{
    width: 25px;
    height: 25px;
}

.header-content .contactMe:hover svg{
    fill: var(--lBlue);
}

.header-content img {
    font-size: 1.4em;
    margin-bottom: 0px;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 0.3s;
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
    border-radius: 75px;
    box-shadow: 0 0 0.5em 0.1em var(--invbg);
}



@media (max-width: 768px ) {
    .header-content h1 {
        font-size: 2.4em;
    }

    .header-content p {
        font-size: 1.4em;
    }

    .expandedNav a{
        font-size: 1.3em;
    }

    .expandedNav  ul{
        margin-left: 38px !important;
    }

    .topnavContainer svg{
        width: 40px;
        height: 40px;
    }

    .topnavContainer .logo{
        font-size: 2em;
    }
}

main {
    padding-bottom: 2em;
    background-color: var(--bg);
}

section {
    margin-bottom: 2em;
}

footer {
    background-color: var(--dBlue);
    color: #71768B;
    text-align: center;
    padding: 1px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: small;
    z-index: 9;
}

footer p{
    margin: 0;
    font-size: 13px;
}