:root{
    --blue:#0366FF
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar-track {
    background-color: #040404 !important;
}

header {
    position: relative;
    width: 100%;
    height: calc(100% - 15px);
    overflow: hidden;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.4); */
    z-index: 1;
}

nav {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
}

nav .logo {
    color: #fff;
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    transition: 0.3s all;
}

nav ul li a:hover{
    color: var(--blue);
}

.header-content {
    position: absolute;
    z-index: 2;
    text-align: center;
    color: #fff;
    /* margin-top: 20%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.header-content h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
    margin-top: 0px;
}

.header-content p {
    font-size: 1.2em;
    margin-bottom: 0px;
}


main {
    padding: 2em;
    background-color: #040404;
}

section {
    margin-bottom: 2em;
}

.gallery {
    display: flex;
    gap: 1em;
}

.portfolio-item {
    border: 1px solid #ccc;
    padding: 1em;
    text-align: center;
}

footer {
    background-color: #040404;
    color: #fff;
    text-align: center;
    padding: 1px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: small;
}

footer p{
    margin: 0;
    font-size: 13px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 0.5em 0 0.2em;
}

form input, form textarea {
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
}

form button {
    padding: 0.7em;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}
